.title {
                text-align: center;
                padding: 20px;
                margin: 20px;
                font-family: "Playwrite RO", cursive;
                font-style: oblique;

            }

            .text-2 {
              text-align: center;
              padding: 20px;
              font-family: "Playwrite RO", cursive;
              font-style: oblique;
             margin: 10px;
              border-style: double;
               border-radius: 10px;
               border-width: medium;
             background-color: #9593d9;
            }

            * {
              box-sizing: border-box;
            }

          .column {
            width: 33.33%;
            padding: 20px;
            column-count: auto;
            column-rule-width: 5px;
            margin: auto;
            }

            .row:after {
            content: "";
            display: table;
            clear: both;
            }

            @media screen and (max-width: 600px) {
            .column {
               width: 100%;
            }
          }

          .part-a {
            text-align: center;
            margin: 10px;
             padding: 20px;
             font-family: "Playwrite RO", cursive;
                font-style: oblique;
                background-color: #7C90DB;
            border-style: double;
            border-radius: 10px;
            border-width: medium;
}

          body {
           background-color: #AB92BF;
          }

          .text-5 {
             text-align: center;
            margin: 10px;
             padding: 20px;
             background-color: #6542bd;
             font-family: "Playwrite RO", cursive;
                font-style: oblique;
                border-style: double;
                border-radius: 10px;
                border-width: medium;

}


          p {
            font-family: "Raleway", sans-serif;
            font-weight: 160;
            font-style: italic;
            padding: 10px;
    margin: 1rem;
          }

          .row-cols-md-3 {
            padding: 12px;
          }

          .card-img-top {
           width: auto;
          }

          .column-1 {
            width: 33.33%;
    padding: 20px;
    column-count: auto;
    column-rule-width: 5px;
    margin: auto;
    border-style: groove;
    border-block-width: 5px;
          }
